@import "../../../theme/variables.scss";

.LayoutField {
  display: flex;
  flex-wrap: nowrap;
  padding: 5px 0;
  z-index: 0;

  &__label{
    text-align: left;
    width: 200px;
  }
  &__input{
    text-align: left;
    flex-grow: 1;
    &-inner{
      display: block;
    }
  }
  &__error{
    display: block;
    color: $red;
    font-size: 12px;
  }

  &_theme {
    &_add-sprint {
      margin: 0 10px;

      .react-date-picker {
        background: #FFFFFF;
      }

      .LayoutField__label {
        margin-right: 10px;
        padding-top: 5px;
        width: auto;
      }

      .Input__input {
        background: #FFFFFF;
      }
    }
  }
}
